.small-text {
    font-size: 14px; /* Adjust as needed */
    color: #a0a8b3; /* Slightly faded for subtle effect */
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
